<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/books' ? 'active' : '' %>"href="/books">Books</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/books/add-book' ? 'active' : '' %>" href="/books/add-book">Add New Book</a>
            </li>
        </ul>
    </nav>
</header>