.book-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.book-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.book__title {
  font-size: 1.2rem;
  text-align: center;
}

.book__price,
.book__price a {
  text-decoration: none;
  text-align: center;
  color: #444;
  margin-bottom: 0.5rem;
}

.book__description {
  text-align: center;
}
